## -*- coding: utf-8 -*-

<%def name="about(blog)">
<dt class="partstitle">${translate('About this blog')}</dt>
<dd class="partsbody">
${blog.description}
</dd>
</%def>

<%def name="recent_entries(blog)">
<dt class="partstitle">${translate('Recent Entries')}</dt>
<dd class="partsbody">
	<ul class="nomark">
		% for e in blog.get_entries(end=blog.recent_item_count):
		<li><a href="${e.get_path()}">${e.title}</a>
		<time datetime="${helpers.format_date(e.created_at, 'html5')}" pubdate>
		${_('Posted at :')}
		${helpers.format_date(e.created_at, 'date_short')}
		</time>
		</li>
		% endfor
	</ul>
</dd>
</%def>

<%def name="recent_comments(blog)">
<% com=blog.get_comments(end=blog.recent_item_count); %>
%if com:
<dt class="partstitle">${translate('Recent Comments')}</dt>
<dd class="partsbody">
	<ul class="nomark">
		% for c in blog.get_comments(end=blog.recent_item_count):
		<li><a href="${c.get_parent().get_path()}">${c.title}</a>
		<time datetime="${helpers.format_date(c.created_at, 'html5')}" pubdate>
		${_('Posted at :')}
		${helpers.format_date(c.created_at, 'date_short')}
		</time>
		</li>
		% endfor
	</ul>
</dd>
% endif:
</%def>

