## -*- coding: utf-8 -*-
<%namespace file="parts.html" import="*"/>
<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-21607369-2']);
_gaq.push(['_trackPageview']);

(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
	<head>
		<meta name="google-site-verification" content="ztcgc0UASgsrEZH0G9pebwUJMndyTbLfyuR0QE8DoKc" />
		<meta charset="UTF-8">
		<%def name="site_title()">
		<title>
		%if hasattr(content, 'title'):
			${content.title} |
		%endif
		${site_data.title}
		</title>
		</%def>
		${self.site_title()}

		<!--iPhone specific-->
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

		<script src="http://www.google.com/jsapi"></script>
		<script>
		  google.load("jquery", "1.3.2");
		</script>
		<script type="text/javascript" src="/js/curvycorners.js"></script>
		<script type="text/javascript" src="/js/curve.js"></script>
		<script type="text/javascript" src="/js/html5.js"></script>

		<!--Baseline CSS files-->
		<link type="text/css" rel="stylesheet" media="screen" href="/css/baseline.css">
		<link type="text/css" rel="stylesheet" media="only screen and (max-device-width: 480px)" href="/css/baseline.iphone.css">

		<link rel="stylesheet" href="/css/css3buttons.css" media="screen"> 

		<%def name="head()">
		</%def>
		${self.head()}
		${site_data.analytics_tag}
	</head>

	<body class="page-grid">
		<div id="page" class="curvy">
			<div class="width4">
				<%def name="header()">
				<header class="width4">
					<h1><a href="/">${site_data.title}</a></h1>
				</header>
				</%def>
				${self.header()}
				<%def name="column_one()">
				column one
				</%def>
				<%def name="column_two(blog)">
					<aside>
						<dl>
							${items(content)}
						</dl>
					</aside>
				</%def>
				<%def name="main()">
					<section class="width4">
						<div class="column width3 first">
							${self.column_one()}
						</div>
						<div class="column width1">
							${self.column_two(blog)}
						</div>
					</section>
				</%def>
				${self.main()}
				<footer>
					<p>&copy; 2003 - 2011 Atsushi Shibata All rights reserved.</p>
				</footer>
			</div>
		</div>
		<img src="http://gaehanrabot.appspot.com/t.gif" />
	</body>
</html>
